@model ReviewSite_Views.Models.CustomerFilmViewModel
@{
    ViewBag.Title = "Film Information";
}
<h2>Customer info:</h2>
<p><strong>First Name:</strong> @Model.Customer.FirstName</p>
<p><strong>First Name:</strong> @Model.Customer.LastName</p>

<h2>@Model.Customer.Name</h2>
<h3>@Model.Customer.Description</h3>
<p>@Model.Customer.Genre</p>


