@model ReviewSite.Models.Director

@{
    ViewBag.Title = "Director Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Director</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DirectorSummary)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DirectorSummary)
            </dd>
    
        </dl>
    </div>
    <p>
        <!-- Displays the edit director details link if the user is an administrator -->
        @if (User.IsInRole("Administrator"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.DirectorId })
        }
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
