<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ReviewIT! </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <!-- Displays the Administrator controls link in the nav bar if the user is an administrator -->
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Administration", "Index", "Admin")</li>

                        <li>@Html.ActionLink("Add Director", "Create", "Directors")</li>

                        <li>@Html.ActionLink("Add Actor", "Create", "Actors")</li>

                        <li>@Html.ActionLink("Add Film", "Create", "Films")</li>

                        <li>@Html.ActionLink("Add Gossip", "Create", "Gossips")</li>
                    }
                    @if (User.IsInRole("Standard user"))
                    {
                        <li>@Html.ActionLink("Directors", "Index", "Directors")</li>

                        <li>@Html.ActionLink("Actors", "Index", "Actors")</li>

                        <li>@Html.ActionLink("Films", "Index", "Films")</li>

                        <li>@Html.ActionLink("Gossip", "Index", "Gossips")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
