@model ReviewSite.Models.Film

@{
    ViewBag.Title = "Film Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Film</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Genre)
            </dd>
    
        </dl>
    </div>
    <p>
        <!-- Displays the edit details link if the user is an administrator -->
        @if (User.IsInRole("Administrator"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.FilmId })
        }
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
